<?php
  $navs = D("Menu")->getAdminMenus();
$username = getLoginUsername();
foreach($navs as $k=>$v) {
if($v['c'] == 'admin' && $username != 'admin') {
unset($navs[$k]);
}
}
$index = 'index';
?>
<div class="layui-header">
    <div class="layui-logo">cms后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">控制台</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                贤心
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
</div>

<div class="layui-side layui-bg-black">

<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
            <a href="">首页</a>
        </li>

        <volist name="navs" id="nav">
            <li class="layui-nav-item">
                <a href="{$nav|getAdminMenuUrl}"><i class="fa fa-fw fa-bar-chart-o"></i>{$nav.name}</a>
            </li>
        </volist>


    </ul>



</div>

</div>